.mainpage {
    width: 100vw;
    height: 100vh;
    background: url("https://ik.imagekit.io/8nc25svc9/amazon-image/bigimage1.jpg?updatedAt=1689226318336");
    background-size: 100vw;
    background-color: #EAEDED;
    
}